/* GALLERY */

.gallery-container {
    margin-top: 1rem;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin: 0 auto;
}

.img-meme {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 68%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border-radius: 5px;
}

.img-meme:hover {
    width: 225px;
    height: 225px;
}

.file-input-btn {
    visibility: hidden;
    width: 0;
}

.upload-img {
    width: 150px;
    height: 150px;
}

.upload-container {
    align-self: center;
}


/* SAVED MEMES GALLERY */

.my-memes-gallery {
    display: none;
}