* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: impact;
    src: url(/fonts/Impact/impact.ttf);
}

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
}

.img-meme {
    cursor: pointer;
}

.meme-container {
    display: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 980px;
}


/* ICONS */

.fab.fa-facebook-f::before {
    content: "\f39e";
}

.fab.fa-twitter::before {
    content: "\f099";
}

.fab.fa-behance::before {
    content: "\f1b4";
}

.fab.fa-dribbble::before {
    content: "\f17d";
}