* {
    box-sizing: border-box;
}


/* FONTS */

@font-face {
    font-family: 'dosis-med';
    src: url(../fonts/Dosis/Dosis-Medium.ttf);
}

@font-face {
    font-family: 'dosis-reg';
    src: url(../fonts/Dosis/Dosis-Regular.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}


/* FONT AWSOME */

@font-face {
    font-family: Brands;
    src: url(../fonts/Awesome/fa-brands-400.ttf);
}

.fab::before {
    font-family: Brands;
}


/* ICONS */

.fab.fa-facebook-f::before {
    content: "\f39e";
}

.fab.fa-github::before {
    content: "\f09b";
}

.fab.fa-linkedin::before {
    content: "\f0e1";
}

.fab.fa-whatsapp::before {
    content: "\f232";
}


/* BASE */

html {
    font-family: dosis-med;
}

body {
    margin: 0;
    background-color: #e3e3e3;
}


/* HEADER */

.main-header {
    background-color: #ff7f00;
    height: 111px;
    box-shadow: inset 0 -6px #0c0c0c;
}

.header-layout {
    align-items: center;
}

.header-img {
    cursor: pointer;
}

.btn-menu-toggle {
    display: none;
}


/* main nav */

.main-nav a {
    text-align: center;
    font-size: 1.5rem;
    width: 120px;
    height: 110px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #ffffff;
    text-align: center;
    filter: drop-shadow(0px 1px 0px #1e1e1e);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color .4s;
}


/* .main-nav li:not(:first-child) {
    border-left: none;
} */


/* .main-nav li {
    border: 2px solid black;
} */

.main-nav a.active {
    color: rgb(50, 50, 50);
    background-color: #ffa600;
    box-shadow: inset 0 -6px #0c0c0c;
}


/* .main-nav li.clicked {
    overflow: auto;
} */

.main-nav>li:hover>a {
    color: rgb(50, 50, 50);
    background-color: #ffa600;
    box-shadow: inset 0 -6px #0c0c0c;
    text-decoration: underline;
}


/* LAYOUT */

.main-layout {
    max-width: 1040px;
    margin: 0 auto;
}


/* SEARCH CONTAINER */

.sort-container {
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
}


/* .sort-container>button {
    cursor: pointer;
}

.sort-container>.click-search>button {
    cursor: pointer;
} */

.sort-container>.main-layout>.click-search>button>img {
    height: 25px;
    width: 25px;
}

.sort-btns {
    font-family: montserrat;
    border: none;
    text-decoration: none;
    background-color: #ffffff;
}

.sort-btns:hover {
    color: #ff7f00;
}

.sort-btn {
    border: none;
    outline: none;
    background: transparent;
}

.sort-txt {
    border: none;
    border-bottom: 2px solid #1e1e1e;
    padding: 5px 10px;
    outline: none;
}


/* CANVAS */

canvas {
    display: block;
    margin: 0 auto;
    outline: 1px solid black;
    background-color: white;
}


/* MEME-GENERATOR */

.generator {
    margin-top: 1rem;
}

.img-meme {
    cursor: pointer;
}

.meme-container {
    display: none;
    align-items: stretch;
}

.meme-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.input-txt {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

.switch-btn {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.new-line-btn {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.delete-btn {
    grid-column: 4 / 5;
}

.font-selector {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

.font-plus {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.font-minus {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.align-left {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.align-center {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.align-right {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

.color-btn {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

.stroke-btn {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.save-btn {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.download-btn {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
}

.share-btn {
    grid-column: 4 / 6;
    grid-row: 6 / 7;
}

.btns-move {
    grid-row: 5 / 6;
}

.meme-stickers {
    grid-column: 1 / 6;
    grid-row: 7 / 8;
}

.meme-btns {
    justify-self: center;
    width: 3.75rem;
    height: 3.75rem;
    border: none;
    border-radius: 12px;
    background-color: #ffffff;
    cursor: pointer;
}

.meme-sticker-btns {
    font-size: 2rem;
}

.font-selector {
    width: 13.625rem;
    height: 3.75rem;
    border: none;
    background-color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
}

.input-txt {
    border: none;
    background-color: #ffffff;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.3rem;
}

.download-btn {
    background-color: #ff7f00;
    text-align: center;
    padding: 10px;
    width: 8.437rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.share-btn {
    background-color: #ff7f00;
    padding: 10px;
    width: 8.437rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

.meme-control>button:hover {
    background-color: #c2bebe;
}


/* GALLERY */

.gallery-container {
    margin-top: 1rem;
}

.gallery {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    margin: 0 auto;
}

.file-input-btn {
    visibility: hidden;
}

.upload-img {
    width: 150px;
    height: 150px;
    margin-block-start: 35px;
    margin-inline-start: 45px;
}


/* SAVED MEMES GALLERY */

.my-memes-gallery {
    display: none;
}


/* MODAL */

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadein .7s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-content {
    background-color: #ff7f00;
    color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
}


/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 2rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* MEME-EDIT */

.meme-control>button>img {
    height: 25px;
    width: 25px;
}

.meme-control>.meme-stickers>button>img {
    height: 25px;
    width: 25px;
}


/* FOOTER */

.footer-container {
    margin-top: 1rem;
    text-align: center;
    height: 170px;
    background-color: #ff7f00;
}

.footer-img {
    margin-top: 20px;
}

.footer-container p {
    font-size: 0.8125rem;
    color: #d4d4d4;
}


/* FOOTER SOCIALS */

.social-nav {
    width: 100%;
    margin: 0;
    justify-content: center;
}

.social-nav li {
    margin: 0 10px;
}

.social-nav li a {
    background-color: #e5e5e5;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #fff;
    text-decoration: none;
}

.social-nav a.fa-facebook-f {
    background-color: #516FAD;
}

.social-nav a.fa-github {
    background-color: #24292e;
}

.social-nav a.fa-linkedin {
    background-color: #0a66c2;
}

.social-nav a.fa-whatsapp {
    background-color: #25D366
}

.social-nav a {
    text-align: center;
    font-weight: bold;
}


/* ABOUT ME */

.about-me {
    display: none;
    text-align: center;
}

.img-me {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}


/* HELPERS */


/* flex helpers */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}


/* btn-helpers */

.pointer {
    cursor: pointer;
}


/* list-helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* MOBILE */

@media screen and (max-width: 880px) {
    .btn-menu-toggle {
        display: block;
        background-color: #ff7f00;
        border: none;
        outline: none;
    }
    .main-layout {
        padding-right: 1.4rem;
        padding-left: 1.4rem;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: #1e1e1e;
        height: 100vh;
        box-shadow: 0px 0px 0px transparent;
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -8px 0px 20px rgb(0 0 0 / 20%);
    }
    .main-nav a {
        display: block;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #e7e7e7;
    }
    .screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(0 0 0 / 50%);
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
        transition: opacity .6s;
    }
    body.menu-open .screen {
        opacity: 1;
        pointer-events: auto;
    }
    .generator {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .sort-container {
        flex-direction: column;
    }
    .flex {
        align-items: center;
    }
    .canvas-cls {
        margin-bottom: 1rem;
    }
    .sort {
        flex-wrap: wrap;
    }
}